@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/Kollektif.woff) format("woff");
}

/*html {
}*/
.bg-img {
  height: 100vh;
  width: 100vw;
  /* object-fit: ; */
  position: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.TextAlignCenter {
  text-align: center;
  font-weight: bold;
  font-family: "MyFont";
  color: white;
}

.career-header-text-bg {
  margin: auto;
  background-color: #3f88c5;
  opacity: 0.8;
  padding-left: 50px;
  padding-right: 50px;
}
.App-header {
  background-color: rgb(29, 134, 182);
  height: 150px;
  padding: 20px;
  color: white;
}

section {
  border: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.table-padding {
  padding: 10px;
}
.App-body {
  /*border: 2px solid black;
  border-radius: 5px;*/
  font-family: "MyFont";
  padding-left: 10px;
  padding-right: 10px;
}
.timer-style {
  position: relative;
  width: 75%;
  margin: auto;
  padding-top: 25px;
  font-family: "MyFont";
  font-size: 96px;
  text-align: center;
}

.App-headsection {
  background: #343434;
  background-image: url("images/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* padding: 75px; */
  /* Full height */
  height: 100vh;
  width: 100%;
}
.career-headersection {
  background-image: url("images/career_3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
}
.App-headsection2 {
  background: #343434;
  background-image: url("images/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* padding: 75px; */
  /* Full height */
  height: 75vh;
  width: 100%;
}

.form-style {
  width: 50%;
  margin: auto;
}
.body-font {
  font-family: "MyFont";
}
.h1font {
  text-align: right;
  /*font-size: 96px;*/
  font-size: 12vh;
}
.h1font-header {
  margin-top: 50px;
  text-align: center;
  /*font-size: 96px;*/
  font-size: 12vh;
}
.absolute {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
}

.App-footer {
  /*border: 2px solid black; 1577b8
  border-radius: 5px;*/
  background-color: #3f88c5;
  padding: 20px;
  margin-top: 20px;
  color: white;
}

.App-footer ul {
  padding: 0;
  list-style: none;
}

.App-footer ul li {
  text-align: left;
  padding-left: 0px;
}

.App-footer ul li a {
  color: white;
}

.App-footer h6 {
  text-align: left;
}

.left {
  text-align: center;
}

.App-button {
  padding: 10px;
  background: #3f88c5;
  font-size: 18px;
  color: white;
  border: 1px solid rgb(235, 226, 226);
  border-radius: 5px;
}
.App-button:hover {
  background: #67b6ff;
}
.buttonhver:hover {
  background: #67b6ff;
}
.App-button-timer {
  padding: 10px;
  background: #343434;
  width: 75%;
  font-size: 23px;
  color: white;
  border: 1px solid #343434;
  border-radius: 5px;
}
.text-color {
  color: white;
}

.center-element {
  margin: auto;
  max-width: 100%;
}

.Signup {
  display: flex;
  display: inline-block;
}

.Placeholder-image {
  /* width: 220px;
  height: 120px; */
  max-width: 65%;
}

.Nav-logo {
  /* height: 100%;
  width: auto;
  padding: 0px;*/
  height: 200%;
  vertical-align: middle;
  max-height: 50px;
  max-width: 130px;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
/*3f88c5*/
.navbar-default.navbarColour {
  background: #3f88c5;
  border: 0px;
  padding: 0px;
}

.navbar-default.navbarColour ul > li > a {
  color: white;
  font-size: 20px;
}

.navbar-default.navbarColour ul > li > a:visited {
  color: white;
}

.navbar-default.navbarColour ul > li > a:hover {
  font-weight: bold;
}

.navbar-default div.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.timer-text-size {
  font-size: 5vh;
}

.timer-count-size {
  font-size: 7vh;
}

/*.navbar-default.navbarColour ul > li > a {
}*/

.Nav-space {
  height: 10vh;
}

.header {
  background: #326273;
}

.NavItem {
  padding: 10px;
}

.Main-Career-Button {
  background: #e46a0c;
}

.career-ihired-intro {
  width: 100%;
  text-align: center;
}
.padding-margin-remove {
  margin: 0px;
  padding: 0px;
}
.LearnMore {
  /*For learn more button*/
  width: 100%;
  height: 7vh;
  background: #326273;
  border: 0;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 0px;
  margin-top: 20px;
  margin-left: 15px;
}

.ContactUs-half {
  /*border: 1px solid black;*/

  background-color: white;
  padding: 20px;
}

.button-bg {
  background-color: #326273;
}
.imagehover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.cursorchange:hover {
  cursor: pointer;
}
.overlay-css {
  background: #3f88c5;
  color: black;
}
.bg-hover:hover {
  background: cadetblue;
}
.career-header-img {
  width: 100%;
  height: 50vh;
}

.With-iHired-text{
  color: white;
  font-size: 38px;
  margin-right: 25px;
}

.Gold-text{
  color: #3f88c5; 
  text-shadow: 2px 1px #FFD700;
}

.Community-pic{
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 28px;
}

.border-radius-28{
  border-radius: 28px;
}

.vertical-align-baseline{
  vertical-align: baseline;
}

.margin-top-5{
  margin-top: 5%;
}

.margin-auto{
  margin:auto;
}

.width-100{
  width: 100%;
}

.width-75{
  width: 75%;
}

.width-45{
  width: 45%;
}

.maxwidth-100{
  max-width: 100%;
}

.maxwidth-80{
  max-width: 80%;
}

.maxwidth-75{
  max-width: 75%;
}

.maxwidth-50{
  max-width: 50%;
}

.div-benefits{
  background: #3f88c5;
  color: white;
  padding-top: 5px;
}

.div-vertical-center{
  display: flex ; 
  align-items: center;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.color-white{
  color:white;
}

.color-black{
  color:#343434;
}

.color-blue{
  color: #3f88c5;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 320px) {
  .iconadjust {
    color: black;
  }
}
